{{#each this}}
<div class="card articles__item" style="width: 20rem;">
    <img src="{{owner.avatar_url}}" class="card-img-top articles__item-img" alt="">
    <div class="card-body articles__item-body">
        <a href="{{html_url}}" target="_blank" class="articles__item-link">
            <h5 class="card-title articles__item-title">{{name}}</h5>
        </a>
        <p class="card-text articles__item-descr">{{description}}</p>
    </div>
    <ul class="list-group list-group-flush articles__group">
        <li class="list-group-item articles__group-item articles__group-lang"><span class="articles__group-lang--part">Language:</span> {{language}}</li>
        <li class="list-group-item articles__group-item articles__group-update"><span class="articles__group-update--part">Update:</span> {{updated_at}}</li>
    </ul>
</div>
{{/each}}